@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

@import "./variables";
@import "~bootswatch/dist/lumen/variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/bootswatch";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Lato", sans-serif !important;
  background-color: $light;
}

.img-cover {
  object-fit: cover;
}

@import "./event-detail";
